<template>
  <v-container class="number" :key="$route.params.number">
    <v-app-bar fixed floating flat inverted-scroll color="primary lighten-2">
      <v-chip-group active-class="primary darken-2" mandatory>
        <v-chip
          v-for="section in sections"
          :key="section.hash"
          v-text="section.text"
          color="primary lighten-3"
          v-scroll-to="`#${section.hash}`"
          :class="section.hash"
        />
      </v-chip-group>
    </v-app-bar>

    <component
      v-for="section in sections"
      class="my-4"
      :key="section.text"
      :currentNumber="currentNumber"
      :is="section.component"
      :id="section.hash"
    />
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  watch: {
    $route() {
      this.currentNumber = parseInt(this.$route.params.number);
    },
  },
  created() {
    parseInt(this.currentNumber as string).toString().length ===
    this.$route.params.number.length
      ? (this.currentNumber = parseInt(this.$route.params.number))
      : this.$router.push({ name: "Home" });
  },
  data() {
    return {
      currentNumber: this.$route.params.number as unknown,
      sections: [
        {
          text: "Summary",
          hash: "summary",
          component: () => import("@/components/numberSummary.vue"),
        },
        {
          text: "Properties",
          hash: "properties",
          component: () => import("@/components/numberProperties.vue"),
        },
        {
          text: "Name",
          hash: "name",
          component: () => import("@/components/numberName.vue"),
        },
        {
          text: "Notation",
          hash: "notation",
          component: () => import("@/components/numberNotation.vue"),
        },
        {
          text: "Prime Factorization",
          hash: "prime-factorization",
          component: () => import("@/components/numberPrimeFactorization.vue"),
        },
        {
          text: "Divisors",
          hash: "divisors",
          component: () => import("@/components/numberDivisors.vue"),
        },
        {
          text: "Divisibility",
          hash: "divisibility",
          component: () => import("@/components/numberDivisibility.vue"),
        },
        {
          text: "Base Conversion",
          hash: "base-conversion",
          component: () => import("@/components/numberBaseConversion.vue"),
        },
        {
          text: "Basic Calculations",
          hash: "basic-calculations",
          component: () => import("@/components/numberBasicCalculations.vue"),
        },
        // {
        //   text: 'Geometric Shapes',
        //   hash: 'geometric-shapes',
        //   component: 'GeometricShapes',
        // },
        // {
        //   text: 'Hash Functions',
        //   hash: 'hash-functions',
        //   component: 'HashFunctions',
        // },
      ] as { text: string; hash: string; component: Function }[],
    };
  },
});
</script>
