<template>
  <pre
    :style="{
      fontFamily: 'Roboto, sans-serif',
      display: 'inline',
    }">{{ base }}<sup v-if="power > 1" v-text="power"/> <template v-if="times">&times; </template></pre>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    base: Number,
    power: Number,
    times: Boolean,
  },
})
</script>
