<template>
  <v-card outlined class="mx-auto" color="transparent">
    <v-card-title v-text="'Name'" />
    <v-card-text>
      <v-simple-table
        :style="{
          borderLeft: 'solid',
          borderRadius: 4,
          borderImage: 'linear-gradient(to bottom, #3F51B5, #00BCD4) 1',
        }"
      >
        <tbody>
          <tr>
            <td v-text="'Short Name'" />
            <td v-text="say(currentNumber, true)" />
          </tr>

          <tr>
            <td v-text="'Full Name'" />
            <td v-text="say(currentNumber, false)" />
          </tr>
        </tbody>
      </v-simple-table>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { say } from '../amp-math'
export default Vue.extend({
  props: {
    currentNumber: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      say,
    }
  },
})
</script>
