<template>
  <v-card flat class="mx-auto">
    <v-toolbar flat>
      <v-toolbar-title v-text="`About Number ${currentNumber}`" />
      <v-spacer />
      <v-toolbar-items>
        <v-btn
          :to="{
            name: 'Home',
            params: { number: currentNumber - 1 },
          }"
          :title="currentNumber - 1"
          icon
        >
          <v-icon>mdi-minus</v-icon>
        </v-btn>
        <v-spacer />
        <v-btn
          :to="{
            name: 'Home',
            params: { number: currentNumber + 1 },
          }"
          :title="currentNumber + 1"
          icon
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-card-text>
      <p class="text-body-1">
        {{ new Intl.NumberFormat("en-US").format(currentNumber) }} ({{
          say(currentNumber, false)
        }}) is an
        {{ currentNumber % 2 === 0 ? "even" : "odd" }}
        {{ say(currentNumber.toString().length) }}-digit
        {{ isPrime(this.currentNumber) ? "prime" : "composite" }} number
        following
        <router-link
          :to="{ params: { number: currentNumber - 1 } }"
          v-text="currentNumber - 1"
        />
        and preceding
        <router-link
          :to="{ params: { number: currentNumber + 1 } }"
          v-text="currentNumber + 1"
        />. In scientific notation, it is written as
        <exponential
          :base="parseFloat(currentNumber.toExponential().split('e+')[0])"
          times
        />
        <exponential
          :base="10"
          :power="parseFloat(currentNumber.toExponential().split('e+')[1])"
        />
        . The sum of it's digits is {{ sumOfDigits(currentNumber) }}. It has a
        total of {{ primeFactors(currentNumber).length }} prime factors and
        {{ allPositiveDivisors(currentNumber).length }} positive divisors. There
        are {{ coprime(currentNumber).length }} positive integers (up to
        {{ currentNumber }}) that are relatively prime to {{ currentNumber }}.
      </p>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import Vue from "vue";
import {
  sumOfDigits,
  coprime,
  say,
  primeFactors,
  allPositiveDivisors,
  isPrime,
} from "../amp-math";

export default Vue.extend({
  components: {
    exponential: () => import("../components/exponential.vue"),
  },
  data() {
    return {
      sumOfDigits,
      coprime,
      say,
      primeFactors,
      allPositiveDivisors,
      isPrime,
    };
  },
  props: {
    currentNumber: {
      type: Number,
      required: true,
    },
  },
});
</script>
