<template>
  <v-card outlined class="mx-auto" color="transparent">
    <v-card-title v-text="`Prime Factorization of ${currentNumber}`" />
    <v-card-text>
      <v-card flat dark class="gradient">
        <v-card-subtitle v-text="'Prime Factorization'" />
        <v-card-title>
          <exponential
            v-for="(powers, base, index) in countOccurrences(
              primeFactors(currentNumber)
            )"
            :key="base"
            :base="parseInt(base)"
            :power="parseInt(powers.length)"
            :times="
              index !==
                Object.keys(countOccurrences(primeFactors(currentNumber)))
                  .length -
                  1
            "
          />
        </v-card-title>
        <v-card-actions
          class="mt-n5 ml-auto"
          v-text="
            `${isPrime(this.currentNumber) ? 'Prime' : 'Composite'} Number`
          "
        />
      </v-card>

      <br />

      <v-row>
        <v-col cols="12" md="6" v-for="(property, i) in properties" :key="i">
          <v-hover #default="{ hover }">
            <v-list-item color="white">
              <v-list-item-action>
                <v-tooltip top>
                  <template #activator="{ on, attrs }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      :color="hover ? 'white' : 'primary'"
                      :class="(hover ? 'gradient' : '') + ' text-none'"
                      icon
                      large
                      dark
                      v-text="property.sign"
                    />
                  </template>
                  <span v-html="property.description" />
                </v-tooltip>
              </v-list-item-action>

              <v-list-item-title v-text="property.name" />

              <v-list-item-action v-text="property.text" />
            </v-list-item>
          </v-hover>
        </v-col>
        <v-col cols="12">
          <p class="text-caption">
            The prime factorization of
            {{ new Intl.NumberFormat('en-US').format(currentNumber) }} is
            <exponential
              v-for="(powers, base, index) in countOccurrences(
                primeFactors(currentNumber)
              )"
              :key="base"
              :base="parseInt(base)"
              :power="parseInt(powers.length)"
              :times="
                index !==
                  Object.keys(countOccurrences(primeFactors(currentNumber)))
                    .length -
                    1
              "
            />. Since it has a total of
            {{ primeFactors(currentNumber, true).length }} prime
            {{
              primeFactors(currentNumber, true).length === 1
                ? 'factor'
                : 'factors'
            }}, {{ new Intl.NumberFormat('en-US').format(currentNumber) }} is a
            {{ isPrime(this.currentNumber) ? 'prime' : 'composite' }} number.
          </p>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'
import {
  countOccurrences,
  isPrime,
  primeFactors,
  liouvilleLambda,
  radical,
} from '../amp-math'

export default Vue.extend({
  components: {
    exponential: () => import('../components/exponential.vue'),
  },
  props: {
    currentNumber: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      countOccurrences,
      isPrime,
      primeFactors,
      properties: [
        {
          name: 'Distinct Factors',
          sign: 'ω',
          description: 'Total number of distinct prime factors',
          text: primeFactors(this.currentNumber, true).length,
        },
        {
          name: 'Total Factors',
          sign: 'Ω',
          description: 'Total number of prime factors',
          text: primeFactors(this.currentNumber, false).length,
        },
        {
          name: 'Radical',
          sign: 'rad',
          description: 'Product of the distinct prime numbers',
          text: radical(this.currentNumber),
        },
        {
          name: 'Liouville Lambda',
          sign: 'λ',
          description:
            '<div>Returns the parity of Ω(<span>n</span>), such that λ(<span>n</span>) = (-1)<sup>Ω(<span>n</span>)</sup></div>',
          text: liouvilleLambda(this.currentNumber),
        },
      ] as { name: string; sign: string; description: string; text: number }[],
    }
  },
})
</script>
