<template>
  <v-card outlined class="mx-auto" color="transparent">
    <v-card-title v-text="`Divisibility of ${currentNumber}`" />
    <v-card-text>
      <v-simple-table
        :style="{
          borderLeft: 'solid',
          borderRadius: 4,
          borderImage: 'linear-gradient(to bottom, #3F51B5, #00BCD4) 1',
        }"
      >
        <tbody>
          <tr>
            <td v-text="'n mod m'" />
            <td
              v-for="item in divisibility(currentNumber)"
              :key="item.number"
              v-text="item.number"
              :class="
                item.remainder === 0
                  ? 'primary lighten-3 text-center'
                  : 'text-center'
              "
            />
          </tr>
          <tr>
            <td v-text="'m'" />
            <td
              v-for="item in divisibility(currentNumber)"
              :key="item.number"
              v-text="item.remainder"
              :class="
                item.remainder === 0
                  ? 'primary lighten-3 text-center'
                  : 'text-center'
              "
            />
          </tr>
        </tbody>
      </v-simple-table>
      <p
        class="text-caption"
        v-text="
          isPrime(currentNumber)
            ? `${new Intl.NumberFormat('en-US').format(
                currentNumber
              )} is not divisible by any number less than or equal to 9.`
            : `The number ${currentNumber} is divisible by ${divisibility(
                currentNumber
              )
                .filter((item) => item.remainder === 0)
                .map((item) => item.number)
                .join(', ')}.`
        "
      />
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { divisibility, isPrime } from '@/amp-math'

export default Vue.extend({
  props: {
    currentNumber: {
      type: Number,
      required: true,
    },
  },
  data() {
    return { divisibility, isPrime }
  },
})
</script>
