<template>
  <v-card outlined class="mx-auto" color="transparent">
    <v-card-title v-text="`Basic calculations (n = ${currentNumber})`" />
    <v-card-text>
      <v-row>
        <v-col cols="12" md="6">
          <v-simple-table dense>
            <thead class="primary rounded">
              <tr>
                <th class="white--text">Multiplication</th>
                <th class="text-right white--text">n &times; i</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in 5" :key="i">
                <th>n &times; {{ i }}</th>
                <td v-text="currentNumber * i" />
              </tr>
            </tbody>
          </v-simple-table>
        </v-col>

        <v-col cols="12" md="6">
          <v-simple-table dense>
            <thead class="primary rounded">
              <tr>
                <th class="white--text">Division</th>
                <th class="text-right white--text">
                  <sup>n</sup>⁄<sub>i</sub>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in 5" :key="i">
                <th><sup>n</sup>⁄<sub v-text="i" /></th>
                <td v-text="currentNumber / i" />
              </tr>
            </tbody>
          </v-simple-table>
        </v-col>

        <v-col cols="12" md="6">
          <v-simple-table dense>
            <thead class="primary rounded">
              <tr>
                <th class="white--text">Exponentiation</th>
                <th class="text-right white--text">n<sup>i</sup></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in 5" :key="i">
                <th>n<sup v-text="i" /></th>
                <td v-text="currentNumber ** i" />
              </tr>
            </tbody>
          </v-simple-table>
        </v-col>

        <v-col cols="12" md="6">
          <v-simple-table dense>
            <thead class="primary rounded">
              <tr>
                <th class="white--text">Nth Root</th>
                <th class="text-right white--text"><sup>i</sup>√n</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in 5" :key="i">
                <th><sup v-text="i" />√n</th>
                <td v-text="Math.pow(currentNumber, 1 / i)" />
              </tr>
            </tbody>
          </v-simple-table>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    currentNumber: {
      type: Number,
      required: true,
    },
  },
})
</script>

<style scoped>
td {
  width: 25em;
}
</style>
