<template>
  <v-card outlined class="mx-auto" color="transparent">
    <v-card-title v-text="'Notation'" />
    <v-card-text>
      <v-simple-table
        :style="{
          borderLeft: 'solid',
          borderRadius: 4,
          borderImage: 'linear-gradient(to bottom, #3F51B5, #00BCD4) 1',
        }"
      >
        <tbody>
          <tr>
            <td v-text="'Scientific notation'" />
            <td>
              <exponential
                :base="parseFloat(currentNumber.toExponential().split('e+')[0])"
                times
              />
              <exponential
                :base="10"
                :power="
                  parseFloat(currentNumber.toExponential().split('e+')[1])
                "
              />
            </td>
          </tr>

          <tr>
            <td v-text="'Engineering Notation'" />
            <td>
              <exponential
                :base="engineeringNotation(currentNumber).base"
                times
              />
              <exponential
                :base="10"
                :power="engineeringNotation(currentNumber).power"
              />
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { engineeringNotation } from '../amp-math'

export default Vue.extend({
  components: {
    exponential: () => import('../components/exponential.vue'),
  },
  props: {
    currentNumber: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      engineeringNotation,
    }
  },
})
</script>
