<template>
  <v-card outlined class="mx-auto" color="transparent">
    <v-card-title v-text="`Divisors of ${currentNumber}`" />
    <v-card-text>
      <v-card flat>
        <v-card-title class="primary lighten-4 primary--text">
          <template
            v-for="(factor, index) in allPositiveDivisors(currentNumber)"
            >{{ factor
            }}<template
              v-if="index !== allPositiveDivisors(currentNumber).length - 1"
              >,
            </template></template
          >
        </v-card-title>
      </v-card>

      <br />

      <v-row>
        <v-col cols="12" md="6" v-for="(property, i) in properties" :key="i">
          <v-hover #default="{ hover }">
            <v-list-item color="white">
              <v-list-item-action>
                <v-tooltip top>
                  <template #activator="{ on, attrs }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      :color="hover ? 'white' : 'primary'"
                      :class="(hover ? 'gradient ' : '') + 'text-none'"
                      icon
                      large
                      dark
                      v-text="property.sign"
                    />
                  </template>
                  <span v-text="property.description" />
                </v-tooltip>
              </v-list-item-action>

              <v-list-item-title v-text="property.name" />

              <v-list-item-action
                v-text="parseFloat(property.text.toFixed(5))"
              />
            </v-list-item>
          </v-hover>
        </v-col>
        <v-col cols="12">
          <p
            class="text-caption"
            v-text="
              `
          The number ${new Intl.NumberFormat('en-US').format(
            currentNumber
          )} can be divided by ${
                allPositiveDivisors(currentNumber).length
              } positive divisors (out of which ${
                allPositiveDivisors(currentNumber).filter((n) => n % 2 === 0)
                  .length
              } are even, and ${
                allPositiveDivisors(currentNumber).filter((n) => n % 2 !== 0)
                  .length
              } are odd). The sum of these divisors (counting ${new Intl.NumberFormat(
                'en-US'
              ).format(currentNumber)}) is ${sumOfDivisors(
                currentNumber
              )}, the average is ${sumOfDivisors(currentNumber) /
                allPositiveDivisors(currentNumber).length}.
          `
            "
          />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { allPositiveDivisors, sumOfDivisors, harmonicMean } from '../amp-math'

export default Vue.extend({
  props: {
    currentNumber: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      allPositiveDivisors,
      sumOfDivisors,
      properties: [
        {
          name: 'Total Divisors',
          sign: 'τ',
          description: 'Total number of the positive divisors',
          text: allPositiveDivisors(this.currentNumber).length,
        },
        {
          name: 'Sum of Divisors',
          sign: 'σ',
          description: 'Sum of all the positive divisors',
          text: sumOfDivisors(this.currentNumber, false),
        },
        {
          name: 'Aliquot Sum',
          sign: 's',
          description: 'Sum of the proper positive divisors',
          text: sumOfDivisors(this.currentNumber, true),
        },
        {
          name: 'Arithmetic Mean',
          sign: 'A',
          description:
            'Returns the sum of divisors (σ(n)) divided by the total number of divisors (τ(n))',
          text:
            sumOfDivisors(this.currentNumber, false) /
            allPositiveDivisors(this.currentNumber).length,
        },
        {
          name: 'Geometric Mean',
          sign: 'G',
          description:
            'The nth root of the product of n divisors (Square Root)',
          text: Math.sqrt(this.currentNumber),
        },
        {
          name: 'Harmonic Mean',
          sign: 'H',
          description:
            'The total number of divisors (τ(n)) divided by the sum of the reciprocal of each divisors',
          text: harmonicMean(this.currentNumber),
        },
      ] as { name: string; sign: string; description: string; text: number }[],
    }
  },
})
</script>
