<template>
  <v-card outlined class="mx-auto" color="transparent">
    <v-card-title v-text="`Divisibility of ${currentNumber}`" />
    <v-card-text>
      <v-simple-table dense>
        <thead class="primary rounded">
          <tr>
            <th class="white--text">Base</th>
            <th class="white--text">System</th>
            <th class="white--text">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="conversion in tableData" :key="conversion.base">
            <td v-text="conversion.base" />
            <td v-text="conversion.system" />
            <td v-text="currentNumber.toString(conversion.base)" />
          </tr>
        </tbody>
      </v-simple-table>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    currentNumber: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      tableData: [
        { base: 2, system: 'Binary' },
        { base: 3, system: 'Ternary' },
        { base: 4, system: 'Quaternary' },
        { base: 5, system: 'Quinary' },
        { base: 6, system: 'Senary' },
        { base: 8, system: 'Octal' },
        { base: 10, system: 'Decimal' },
        { base: 12, system: 'Duodecimal' },
        { base: 16, system: 'Hexadecimal' },
        { base: 20, system: 'Vigesimal' },
        { base: 36, system: 'Base36' },
      ],
    }
  },
})
</script>

<style>
.v-data-table__wrapper {
  border-radius: inherit !important;
}
</style>
