<template>
  <v-card outlined class="mx-auto" color="transparent">
    <v-card-title v-text="'Basic properties'" />
    <v-card-text>
      <v-row>
        <v-col v-for="property in properties" :key="property.text">
          <v-card flat>
            <v-subheader v-text="property.text" />
            <v-card-title class="primary--text" v-text="property.value" />
          </v-card>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { sumOfDigits, isPrime, digitalRoot } from '../amp-math'
export default Vue.extend({
  props: {
    currentNumber: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      properties: [
        {
          text: 'Is Prime?',
          value: isPrime(this.currentNumber) ? 'Yes' : 'No',
        },
        {
          text: 'Number parity',
          value: this.currentNumber % 2 === 0 ? 'Even' : 'Odd',
        },
        { text: 'Number length', value: this.currentNumber.toString().length },
        { text: 'Sum of Digits', value: sumOfDigits(this.currentNumber) },
        { text: 'Digital Root', value: digitalRoot(this.currentNumber) },
      ],
    }
  },
})
</script>
