<template>
  <v-app :style="{ backgroundColor: $vuetify.theme.themes.light.background }">
    <v-app-bar app absolute flat clipped-left dark color="primary">
      <v-toolbar-title v-text="'AMP\'s Numbers'" />
      <v-spacer />
      <v-text-field
        name="Number"
        prepend-inner-icon="mdi-math-integral-box"
        label="Enter a Number"
        type="number"
        v-model="number"
        hide-details
        single-line
        solo-inverted
        flat
        dense
        clearable
        @keyup.enter="
          number === ''
            ? $router.push({ name: 'Home' }).catch(() => {})
            : $router
                .push({ name: 'Home', params: { number: number } })
                .catch(() => {})
        "
      />
      <v-spacer />
      <a :href="myGitData.html_url" :title="myGitData.login">
        <v-badge overlap bottom color="transparent" icon="mdi-github">
          <v-avatar>
            <v-img :src="myGitData.avatar_url" />
          </v-avatar>
        </v-badge>
      </a>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",
  data() {
    return {
      myGitData: {},
      number: "",
      navigationDrawer: true,
      sections: [
        {
          text: "Summary",
          hash: "summary",
          component: "Summary",
        },
        {
          text: "Properties",
          hash: "properties",
          component: "Properties",
        },
        { text: "Name", hash: "name", component: "Name" },
        { text: "Notation", hash: "notation", component: "Notation" },
        {
          text: "Prime Factorization",
          hash: "prime-factorization",
          component: "PrimeFactorization",
        },
        { text: "Divisors", hash: "divisors", component: "Divisors" },
        {
          text: "Other Arithmetic Functions",
          hash: "arithmetic-functions",
          component: "ArithmeticFunctions",
        },
        {
          text: "Divisibility",
          hash: "divisibility",
          component: "Divisibility",
        },
        {
          text: "Base Conversion",
          hash: "base-conversion",
          component: "BaseConversion",
        },
        {
          text: "Basic Calculations",
          hash: "basic-calculations",
          component: "BasicCalculations",
        },
        {
          text: "Geometric Shapes",
          hash: "geometric-shapes",
          component: "GeometricShapes",
        },
        {
          text: "Hash Functions",
          hash: "hash-functions",
          component: "HashFunctions",
        },
      ] as { text: string; hash: string; component: string }[],
    };
  },
  created() {
    fetch("https://api.github.com/users/ampirzadeh")
      .then((response) => response.json())
      .then((data) => (this.myGitData = data))
      .catch((e) => alert(e.message));
  },
});
</script>

<style lang="sass">
a
  color: var(--v-primary-base)
  text-decoration: underline dotted
.gradient
  background: linear-gradient(to top right, #3F51B5, #00BCD4)
</style>
